[mysqldump]
column-statistics=0
[client]
telcel_db = "<db name>"
telcel_user = "<db User>"
telcel_password = "<db password>"
telcel_host = "<db ip>"
telcel_files_folder = "<SMB Folder with file telcel.zip>"
